footer {
    background-color: #f6f2e6;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top:50px;
    font-size:15px;
}

footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
      color: #a3bdd0;
}