body {
    margin: 0;
    padding: 0; /* Reset any default padding */
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh; /* Full viewport height */
    background-image: url('../images/background.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-position: 0% 100%;
}

h1 {
    color: black;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.highlight {
    color: #5f9ac6;
    font-weight: bold;
}

.data-container {
    width: 100%; /* Full width to center the box */
    max-width: 2000px; /* Maximum width of the container */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    height: 1000px;
    margin-top: 100px;
}

.main-box {
    background-color: #f6f2e6;
    padding: 40px;
    border: 1px solid #ccc;
    margin: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-width: 500px;
    width: 60%; /* Adjust this as necessary */
    height: 100%;
    display: flex; /* Use flexbox to manage containers */
    flex-direction: column; /* Arrange elements vertically */
    justify-content: flex-start; /* Align children at the top of the container */
    align-items: center; /* Center children horizontally */
}

.container {
    background-color: #f6f2e6;
    min-width: 80%; /* Each container takes up nearly half of the .main-box */
    height: 100%; /* Full height of the parent container */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Horizontally and vertically center content */
    align-items: center; /* Horizontally center content */
    border: 5px solid #5f9ac6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 36px;
    text-align: center;
    font-size: 18px;
}

#container1 img {
    max-height: 100%; /* Maintain the aspect ratio of the image */
    max-width: 100%; /* Ensure the image does not overflow its container's width */
}

.btn.btn-primary {
    font-size: 20px;
    width: 100%;
    margin-top: 30px; /* Remove the margin to reduce space */
    border: 0px solid #000;
    background-color: #5f9ac6;
    color: #f6f2e6; /* Adjusted to correct syntax */
    border-radius: 0; /* Sharp edges */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.btn.btn-primary:hover {
    background-color: #000; /* Background becomes black on hover */
    color: #fff; /* Text becomes white on hover */
}

@media (max-width: 600px) {
    .data-container h1 {
        font-size: 25px;
    }
}