<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpeedChecker</title>
  {{ bootstrap.load_css() }}
        {% include "navbar.html" %}
        <link href="static/css/analyse-ai.css" rel="stylesheet" />
</head>


<body>

<div class="data-container">
    <div class="main-box">
            <h1><span class="highlight"> Analyse </span> your data </h1>
        <table class="container" id="container1">
            <tr>
                <th><h2><span class="highlight-blue"> Summary</span></h2></th>
            </tr>
            <tr>

                {% if summary == "": %}
                  <td><h2>{{ message }}</h2></td>
                {% else: %}
                <td><h2>{{ summary }}</h2></td>
                {% endif %}
            </tr>
            <tr>
              <th><h2><span class="highlight-blue"> Recommendations</span></h2></th>
            </tr>
            <tr>
                 {% if recommendations == "": %}
                  <td><h2>{{ message }}</h2></td>
                {% else: %}
                <td><h2>{{ recommendations }}</h2></td>
                {% endif %}
            </tr>
             <tr>
                 <td colspan="2" class="bottom-row"><a href="{{ url_for('analyse') }}" class="btn btn-primary btn-block">Go Back</a></td>
            </tr>
        </table>
    </div>


</div>
</body>

    {% include "base-scripts.html"%}

</html>