<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpeedChecker</title>
</head>
<body>

</body>

<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/typed.js') }}"></script>
<script src="{{ url_for('static', filename='js/speed-test.js') }}"></script>
<script src="{{ url_for('static', filename='js/confirm-delete.js') }}"></script>
</html>