<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>SpeedChecker</title>
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
        {% include "navbar.html" %}
    <link rel="stylesheet" href="static/css/register.css">
</head>
<body>

<div class="register-container">
    <div class="form-box">
                 <h1>Change your<span class="highlight"> password</span></h1>
        <form action="{{ url_for('change_password') }}" method="post" class="register-form">
            {% with messages = get_flashed_messages() %}
                {% if messages: %}
                    {% for message in messages: %}
                        <p> {{ message }} </p>
                    {% endfor %}
                {% endif %}
             {% endwith %}
            <input type="password" name="old-password" class="form-control" placeholder="Old Password" required />
            <input type="password" name="new-password" class="form-control" placeholder="New Password" required />
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
    <h1></h1>
</div>
 {% include "footer.html"%}
</body>
    {% include "base-scripts.html"%}
</html>