<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url=/account">
    <title>SpeedChecker</title>
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
        {% include "navbar.html" %}
    <link rel="stylesheet" href="static/css/register.css">
</head>
<body>

<div class="register-container">
    <div class="form-box">
        <h3> Password Changed.</h3>
        <h4> You will now be redirected back to your account dashboard.</h4>
    </div>
    <h1></h1>
</div>

</body>
    {% include "base-scripts.html"%}
</html>