<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url=/register">
    <title>SpeedChecker</title>
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
        {% include "navbar.html" %}
    <link rel="stylesheet" href="static/css/register.css">
</head>
<body>

<div class="register-container">
    <div class="form-box">
        <h3> Account deleted.</h3>
        <h4> You will now be redirected to the registration page.</h4>
    </div>
    <h1></h1>
</div>

</body>
    {% include "base-scripts.html"%}
</html>